        @import '_mediaQueries';
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            background-color: #fff;
            color: #555;
            font-family: 'Dosis', sans-serif;
            font-size: 20px;
            text-rendering: optimizeLegibility;
            @include responsive (tab-landscape) {
                font-size: 80%;
            }
            @include responsive (tab-port) {
                font-size: 80%;
            }
            @include responsive (tab-landscape) {
                font-size: 80%;
            }
            @include responsive (tab-landscape) {
                font-size: 80%;
            }
        }
        
        // VARIABLES
        @mixin flex-container($dir) {
            display: flex;
            flex-direction: $dir;
            box-shadow: 2px 15px 20px 0px #bbbbbb59;
            align-items: center;
            height: 200px;
        }
        
        @mixin column($width, $shadow1) {
            width: $width;
            float: left;
            font-family: 'Dosis', sans-serif;
        }
        
        @mixin button($width) {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 0;
            line-height: 1.42857143;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #b1086d;
            color: #fff;
            font-family: 'Dosis', sans-serif;
            width: $width;
        }
        
        @mixin sidebar-menu($heighth, $width) {
            height: $heighth;
            width: $width;
            top: 0;
            left: 0;
            background-color: #b4b1b173;
            overflow-x: hidden;
            position: sticky;
            background: #ccc;
        }
        
        // Wrapper
        .wrapper {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
        }
        
        .box {
            height: 300px;
            min-width: 300px;
            flex-grow: 2.5;
        }
        
        .one {
            height: 300px;
            min-width: 300px;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
        }
        
        .three {
            background-color: red;
        }
        
        // HEADER 
        // nav {
        //     background-color: #fff;
        //     box-shadow: 2px 2px 2px 2px #f5f5f5;
        // }
        // nav ul {
        //     list-style-type: none;
        //     padding: 0;
        // }
        // .home {
        //     float: left;
        // }
        // .user {
        //     float: right;
        // }
        // nav a {
        //     text-decoration: none;
        //     color: grey;
        //     text-align: center;
        //     display: block;
        //     padding: 10px;
        // }
        .topnav {
            overflow: hidden;
            padding-block: 3%;
            padding-left: 5%;
        }
        
        .topnav a {
            float: left;
            color: #b4b1b173;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            color: #b1086d;
        }
        
        .topnav a.active {
            color: #b1086d;
        }
        
        .topnav-right {
            float: right;
        }
        
        .topnav-right a {
            text-decoration: none;
            padding: 0px;
            float: left;
            color: #7e7b7b;
            text-align: center;
            padding: 0 27px 0 0;
            text-decoration: none;
            font-size: 120%;
        }
        
        .header .container {
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
        
        .carousel {
            margin: 7% 7% 0 7%;
        }
        
        .flex-container {
            @include flex-container(row);
            align-items: center;
            height: 200px;
        }
        
        // Image Carousel Elements
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        
        slideimages {
            img {
                vertical-align: middle;
            }
        }
        
        .text {
            color: #252222;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
        
        // Previous and next buttons for the carousel
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        /* Position the "next button" to the right */
        
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        /* On hover, add a black background color with a little bit see-through */
        
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        //  The dots/bullets/indicators 
        .dot {
            cursor: pointer;
            height: 4px;
            width: 4px;
            margin: 0 4px;
            background-color: #000;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .active,
        .dot:hover {
            background-color: #fff;
        }
        /* Clear floats after the columns */
        
        h5 {
            font-family: 'Dosis', sans-serif;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .column-one {
            @include column (60%, -20px -2px 0px 0px #fff);
        }
        
        .column-two {
            @include column (40%, 20px 11px 20px 0px #fff);
        }
        
        // Buttons
        .btn-products {
            @include button(auto);
        }
        
        //     display: none;
        // }
        img {
            vertical-align: middle;
        }
        
        footer {
            font-family: 'Dosis', serif;
            font-weight: 400;
            font-size: 120%;
            background-color: #ebebeb;
        }
        
        footer p {
            font-family: "Dosis", serif;
            font-weight: 600;
            font-size: 70%;
            padding: 7px;
            padding-left: 7%;
            color: #000;
        }
        /* Sidebar */
        
        .logo {
            height: auto;
            width: auto;
            float: left;
            /* margin-top: 20px; */
            margin-left: 10%;
        }
        
        header {
            box-shadow: 2px 2px 2px 2px whitesmoke;
            height: auto;
        }
        
        .navlist>ul {
            display: flex;
            padding: 5%;
        }
        
        .navlist>ul>li {
            list-style-type: none;
            padding: 5%;
        }
        
        .cart-button {
            border-collapse: collapse;
        }
        
        .header-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
        
        .sign-in {
            color: #34495e;
            word-spacing: 1px;
            text-decoration: none;
        }
        
        .sidebarnav {
            @include sidebar-menu(100%, 16%);
            height: auto !important;
            /* only for demonstration, should be removed */
        }
        
        .sidebarnav ul {
            list-style-type: none;
            padding: 0;
        }
        
        .sidebarnav a {
            padding: 6px 0px 6px 44px;
            text-decoration: none;
            font-size: 130%;
            font-weight: 500;
            color: #6a6565;
            display: block;
            border-bottom: 1px solid #867e7e82;
            font-family: "Dosis", sans-serif;
            margin-left: 9px;
            line-height: 1.7;
        }
        
        .menubar {
            display: flex;
            /* display: flex; */
            // align-content: flex-start;
            // justify-content: space-between;
            // align-items: flex-start;
            // flex-direction: row;
        }
        
        .sidebar-menu {
            @include sidebar-menu(100%, 13%);
        }
        
        .tablet {
            @include sidebar-menu(100%, 13%);
        }
        
        .sidebar-menu a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 80%;
            font-weight: 500;
            color: #6a6565;
            display: block;
            border-bottom: 1px solid #867e7e82;
            font-family: 'Dosis', sans-serif;
            margin-left: 9px;
            line-height: 1.7;
        }
        
        .sidebar-menu a:hover {
            color: #ffffff;
        }
        
        .main {
            margin-left: 0;
            /* Same as the width of the sidenav */
        }
        /* Product */
        
        .content {
            flex: auto;
        }
        
        .content::after {
            content: "";
            display: table;
            clear: both;
        }
        
        .cards {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        /* Float four columns side by side */
        
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }
        /* Remove extra left and right margins, due to padding */
        
        .row {
            margin: 0 -5px;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .card {
            box-shadow: 5px 4px 8px 0 rgb(0 0 0 / 8%);
            margin: auto;
            text-align: center;
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            border-bottom: 2px dashed #b4b1b161;
            flex: 0 0 33.33%;
            margin-left: 15%;
            padding: 0 0 7px 0;
        }
        
        .price {
            color: grey;
            font-size: 22px;
        }
        
        .card button {
            border: none;
            outline: 0;
            padding: 9px;
            color: #fff;
            background-color: #b1086d;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 13px;
            margin-top: 10px;
        }
        
        .description {
            background-color: #b4b1b173;
            text-align: center;
        }
        /* PLP Mobile */
        
        .selectbox {
            width: 100%;
            text-align: center;
        }
        
        select option {
            text-align: center;
        }
        
        .dropdown-btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 0;
            line-height: 1.42857143;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #b1086d;
            color: #fff;
            width: 100%;
        }
        
        // Cart Empty
        .callout {
            max-width: 100%;
            height: 100vh;
        }
        
        .callout-header {
            padding: 20px 15px;
            background: #242222;
            font-size: 120%;
            color: white;
            font-family: 'Dosis';
            font-weight: 700;
        }
        
        .callout-container {
            padding: 10px;
            background-color: #8d8c8c17;
            color: black;
            height: 100%;
        }
        
        .closebtn {
            position: absolute;
            top: 12px;
            right: 16px;
            color: white;
            font-size: 30px;
            cursor: pointer;
        }
        
        .closebtn:hover {
            color: lightgrey;
        }
        
        .shop-btn {
            display: block;
            margin: 0 2%;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #b1086d;
            color: #fff;
            font-family: "Dosis", sans-serif;
        }
        
        // .content {
        //     display: flex;
        //     height: 80vh;
        //     flex-direction: column;
        //     flex-wrap: wrap;
        //     align-content: flex-start;
        //     justify-content: center;
        // }
        // CART
        // LOGIN
        #loginrow {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 1%;
        }
        
        #logincolumn {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            width: 47%;
        }
        
        .form-column {
            height: 100px;
        }
        
        .heading-column {
            height: auto;
            margin-left: 40%;
            margin-top: 4%;
        }
        
        .form .login {
            justify-items: center;
            align-items: center;
        }
        
        #main-holder {
            height: 70%;
            display: grid;
            justify-items: center;
            align-items: center;
            background-color: white;
        }
        
        #login-error-msg-holder {
            width: 100%;
            height: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
        }
        
        #login-error-msg {
            width: 26%;
            text-align: center;
            margin: 0;
            padding: 5px;
            font-size: 12px;
            font-weight: 500;
            color: #000;
            background-color: #82cedfb8;
            opacity: 0;
        }
        
        #error-msg-second-line {
            display: block;
        }
        
        #login-form {
            align-self: flex-start;
            display: grid;
            justify-items: flex-start;
            align-items: center;
        }
        
        .login-form-field::placeholder {
            color: #838181fd;
            font-family: 'Dosis', sans-serif;
            font-size: 80%;
        }
        
        .placeholder:active,
        .login-form-field::placeholder:hover,
        .login-form-field::placeholder:visited {
            color: #0e8b91;
        }
        
        .login-form-field {
            border: none;
            border-bottom: 2px solid #99939394;
            margin-bottom: 10px;
            outline: none;
            padding: 10px 27% 0 0;
        }
        
        .login-form-field:active,
        .login-form-field:hover,
        .login-form-field:visited {
            border-bottom: 2px solid #0e8b91;
        }
        
        #login-form-submit {
            @include button(47%);
            margin-top: 15px;
            background-color: #b81257;
        }